# Dependencies
node_modules/
vendor/

# Environment files
.env
.env.backup
.env.production

# Build files
/dist
/build

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# System files
.DS_Store
Thumbs.db

# Database
*.sqlite
*.sqlite-journal

# Docker volumes
postgres-data/